/* esercizio 1 */
.ex-1-square {
    background-color: none;
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: red;
}



/* esercizio 2 */
.ex-2-square {
    width: 100px;
    transition: width 1s;
}

.ex-2-square:active {
    width: 100%;
    transition: width 1s;
}



/* esercizio 3 */
.ex-3-square  {
    border-radius: 0;
    transition: border-radius 1s;
}

.ex-3-square:hover  {
    border-radius: 50%;
}



/* esercizio 4 */
.ex-4-square {
    opacity: 1;
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}



/* esercizio 5 */
.ex-5-square {
    transform: scale(100%, 100%);
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(200%, 200%);
}

.ex-5-square:active {
    transform: scale(50%, 50%);
}



/* esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}



/* esercizio 7 */
.ex-7-img {
    filter: grayscale(0);
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}



/* esercizio 8 */
.ex-8-img {
    filter: saturate(1);
    border-radius: 0;
    transition: all 1s;
}

.ex-8-img:hover {
    filter: saturate(0.4);
    border-radius: 24px;
}



/* esercizio 9 */
.ex-9-img {
    filter: grayscale(0);
    border-radius: 0;
    transform: scale(100%);
    transition: all 1.5s;
}

.ex-9-img:hover {
    filter: grayscale(1);
    border-radius: 24px;
    transform: scale(140%);
}



/* esercizio 10 */
.ex-10-icon {
    animation-name: icon10;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes icon10 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(-180deg);
    }
    
}



/* esercizio 11 */
.ex-11-icon:hover {
    animation-name: icon11;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes icon11 {
    0% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
    
}



/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation-name: top12;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes top12 {
    0% {
        top: -10px;
        left: 10%;
    }

    50% {
        top: -10px;
        left: 100%;
        transform: translate(-100%, 0);
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: bottom12;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes bottom12 {
    0% {
        bottom: -10px;
        right: 20%;
    }

    50% {
        bottom: -10px;
        right: 100%;
        transform: translate(100%, 0);
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}




/* esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
    animation-name: top13;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes top13 {

    0% {
        top: -10px;
        left: 10%;
    }

    20% {
        top: -10px;
        left: 100%;
        transform: translate(-50%, 0);
    }

    40% {
        top: 54px;
        left: 100%;
        transform: translate(-50%, 0);
    }

    60% {
        top: 54px;
        left: 0%;
        transform: translate(-50%, 0);
    }

    80% {
        top: -10px;
        left: 0%;
        transform: translate(-50%, 0);
    }

    100% {
        top: -10px;
        left: 10%;
    }
    
}



.ex-13-button:hover .ex-13-bottom-white {
    animation-name: bottom13;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes bottom13 {

    0% {
        bottom: -10px;
        right: 20%;
    }

    20% {
        bottom: -10px;
        right: 100%;
        transform: translate(50%, 0);
    }

    40% {
        bottom: 54px;
        right: 100%;
        transform: translate(50%, 0);
    }

    60% {
        bottom: 54px;
        right: 0%;
        transform: translate(50%, 0);
    }

    80% {
        bottom: -10px;
        right: 0%;
        transform: translate(50%, 0);
    }

    100% {
        bottom: -10px;
        right: 10%;
    }
    
}