/* esercizio 1 */
.ex-1-square {
    background-color: none;
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: red;
}



/* esercizio 2 */
.ex-2-square:active {
    width: 100%;
    transition: width 1s ease-out;
}



/* esercizio 3 */




/* esercizio 4 */




/* esercizio 5 */




/* esercizio 6 */




/* esercizio 7 */




/* esercizio 8 */




/* esercizio 9 */




/* esercizio 10 */




/* esercizio 11 */




/* esercizio 12 */




/* esercizio 13 */