/* esercizio 1 */
.ex-1-square {
    background-color: none;
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: red;
}



/* esercizio 2 */
.ex-2-square:active {
    width: 100%;
    transition: width 1s;
}



/* esercizio 3 */
.ex-3-square  {
    border-radius: 0;
    transition: border-radius 1s;
}

.ex-3-square:hover  {
    border-radius: 50%;
}



/* esercizio 4 */
.ex-4-square {
    opacity: 1;
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}



/* esercizio 5 */
.ex-5-square {
    transform: scale(100%, 100%);
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(200%, 200%);
}

.ex-5-square:active {
    transform: scale(50%, 50%);
}



/* esercizio 6 */




/* esercizio 7 */




/* esercizio 8 */




/* esercizio 9 */




/* esercizio 10 */




/* esercizio 11 */




/* esercizio 12 */




/* esercizio 13 */